%% -*- mode: erlang -*-

{erl_opts, [debug_info,
	    {parse_transform, lager_transform}]}.

{deps, [{ranch, "1.7.1"},
	{lager, "3.6.9"},
	{recon, "2.5.0"}
       ]}.

%% {shell, [{apps, [minimonkey]}]}.

{edoc_opts, [{preprocess, true},
	     {stylesheet_file, "./priv/edoc.css"},
	     {overview, "./priv/overview.edoc"}]}.

{cover_enabled, true}.
{cover_export_enabled,true}.

{project_plugins, [rebar3_proper,
		   rebar3_hex,
		   {rebar3_codecov,
		    {git,
		     "https://github.com/Raphexion/rebar3_codecov.git",
		     {branch, "master"}}}]}.

{provider_hooks,
 [
  {post, [{ct, {codecov, analyze}}]},
  {post, [{eunit, {codecov, analyze}}]},
  {post, [{proper, {codecov, analyze}}]}
 ]}.

{relx, [{release, {minimonkey, "0.0.1"},
         [minimonkey,
	  crypto,
	  lager,
	  sasl]},

        {dev_mode, true},
        {include_erts, false},
	{extended_start_script, true}
       ]
}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]},
		    {deps, [proper]}
		   ]},
	    {prod, [{relx, [{dev_mode, false},
			    {include_erts, true}]}
		   ]}
	   ]}.
